<%- include("partials/header") %>
<h1>Home</h1>
<p><%= homeContent %></p>
<% posts.forEach((post) => { %>
    <div class="container">
    <h1 class="display-4"><%= post.title %></h2>
    <p class="lead hundreed-chars"><%= post.body %></p>
    <a href="/post/<%= post.title %>">Read more</a>
    </div>
<% }) %>
<%- include("partials/footer") %>

